<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  {{.Breakfast.Name}}
  {{range .Breakfast.Menu}}
    {{.Starter}}
    {{.Main}}
  {{end}}
  -------------------------
  {{.Lunch.Name}}
  {{range .Lunch.Menu}}
    {{.Starter}}
    {{.Main}}
  {{end}}
  -------------------------
  {{.Dinner.Name}}
  {{range .Dinner.Menu}}
    {{.Starter}}
    {{.Main}}
  {{end}}
  
</body>
</html>
